@page
@model RPDinerApp.Pages.Orders.DisplayModel
@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

@if (Model.Order is null)
{
    <h4>The requested record was not found.</h4>
}
else
{ 
    <table class="table">
        <tbody>
            <tr>
                <td><strong>Order Name</strong></td>
                <td>@Model.Order.OrderName</td>
            </tr>
            <tr>
                <td><strong>Order Date</strong></td>
                <td>@Model.Order.OrderDate</td>
            </tr>
            <tr>
                <td><strong>Order Total</strong></td>
                <td>@string.Format("{0:C}", Model.Order.Total)</td>
            </tr>
            <tr>
                <td><strong>Item Ordered</strong></td>
                <td>@Model.ItemPurchased</td>
            </tr>
            <tr>
                <td><strong>Quantity</strong></td>
                <td>@Model.Order.Quantity</td>
            </tr>
        </tbody>
    </table>
}